<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Dobrodosli! | <a th:href="@{/logout}">Odjavi se</a></h1>
<h2 th:if="${not #lists.isEmpty(availableCarList)}">Slobodna vozila:</h2>
<div>
    <div th:each="car : ${availableCarList}">
     <hr>
        <h3 th:text="${car.model}"></h3>
        <p>Cena: <span th:text="${car.price}"></span></p>
        <a th:href="@{/cars/editCar/{id}(id = ${car.id})}">Izmeni</a>
        <a th:href="@{/cars/rentCar/{id}(id = ${car.id})}">Rent</a>
    </div>
    <hr>
</div>
<h2 th:if="${not #lists.isEmpty(activeRentals)}">Zauzeta vozila:</h2>
<div>
    <div th:each="rentalEvent : ${activeRentals}">
        <hr>
        <h3 th:text="${rentalEvent.car.model}"></h3>
        <p>Cena po danu: <span th:text="${rentalEvent.car.price} + 'e'"></span></p>
        <p>Ukupna cena: <span th:text="${rentalEvent.totalPrice} + 'e'"></span></p>
        <p>Izdato od: <span th:text="${#dates.format(rentalEvent.rentedOn, 'dd-MMM-yyyy')}"></span></p>
        <p>Izdato do: <span th:text="${#dates.format(rentalEvent.rentedTo, 'dd-MMM-yyyy')}"></span></p>
        <a th:href="@{/cars/viewRental/{id}(id = ${rentalEvent.id})}">Pogledaj</a>
    </div>
    <hr>
</div>
<a th:href="@{/cars/addCar}">Dodaj kola</a>
<a th:href="@{/cars/report}">Izvestaj</a>
</body>
</html>