<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Dobrodosli!</h1>
<h2 th:if="${not #lists.isEmpty(availableCarList)}">Slobodna vozila:</h2>
<div>
    <div th:each="car : ${availableCarList}">
     <hr>
        <h3 th:text="${car.model}"></h3>
        <p>Cena: <span th:text="${car.price}"></span></p>
        <a th:href="@{/cars/editCar/{id}(id = ${car.id})}">Izmeni</a>
        <a th:href="@{/cars/rentCar/{id}(id = ${car.id})}">Rent</a>
    </div>
    <hr>
</div>
<h2 th:if="${not #lists.isEmpty(unavailableCarList)}">Zauzeta vozila:</h2>
<div>
    <div th:each="car : ${unavailableCarList}">
        <hr>
        <h3 th:text="${car.model}"></h3>
        <p>Cena: <span th:text="${car.price}"></span></p>
        <a th:href="@{/cars/editCar}">Izmeni</a>
        <a th:href="@{/cars/rentCar}">Rent</a>
    </div>
    <hr>
</div>
<a th:href="@{/cars/addCar}"><i class="sl sl-icon-action-redo"></i> Azuriraj kola </a>
</body>
</html>